{% extends "base.html" %}
{% block title %}Logout{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <p>You have log out.</p>
    <p>You can <a href="{% url 'user_login' %}">LOGIN</a> again.</p>
</div>
{% endblock %}