{% extends "base.html" %}

{% block content %}

 {% if form.errors %}
  <p class="error">Sorry, that's not a valid username or password</p>
 {% endif %}

 <form action="" method="post">
  {% csrf_token %}
  <label for="username">用户名:</label>
  <input type="text" name="username" value="" id="username">
  <p></p>
  <label for="password">密码:</label>
  <input type="password" name="password" value="" id="password">
  <p></p>
  <input type="submit" value="login" />
  <p></p>
  <input type="hidden" name="next" value="{{ next|escape }}" />
 </form>

{% endblock %}