{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="with=device-width,initial-scale=10">
	<title>{% block title %}{% endblock %}</title>
	<style>
		div-center{
			width:1000px;/*定宽*/
			margin:auto;/* margin-left 与 margin-right 设置为 auto */
			}
		div-inline{display:inline} 
	</style>
</head>
<body>
	{% include "header.html" %}
	<div>
		<hr />
		<center>{% block content %}{% endblock %}
	</div>
	<center>{% include "footer.html" %}
</body>
</html>