{% extends "base.html" %}
{% block title %}验货单填写{% endblock %}
{% block content %}
{% csrf_token %}
<body>
	<center><h3>填写验货单</h3>
    <form action="" method="post">
	<font color="red">(注意：验货单单号应与采购单单号保持一致)</font>
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="提交验货结果">
    </form>
</body>
{% endblock %}