{% extends "base.html" %}
{% block title %}错误{% endblock %}
{% block content %}
<body>
<center><h3>填写付款单</h3>
    <form action="" method="post">
        error: {{% form %}}
    </form>
</body>
{% endblock %}