{% load staticfiles %}
<center>
<p></p>
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div <!-- class="row text-center vertical-middle-sm" -->>
			<hr>
			<ul class="nav navbar-nav" role="navigation">
				<h1>企  业  采  购  系  统</h1>
				<a href="http://127.0.0.1:8000/help/"><h2>使用帮助</h2></a>
			</ul>
		</div>
		<div>
		{% if user.is_authenticated %}
			<li>
                    <div>  <!-- class="dropdown" style="margin-top:8px" -->
                        <!-- <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu' data-toggle='dropdown'>{{ user.username }}<span class='caret'></span></button> -->
						已登录的用户： {{ user.username }}
                    </div>
            </li>
			<p></p>
			<li><a href="{% url 'user_logout' %}">退出登录</a></li>
		{% else %}
		<p></p>
		<li><a href="{% url 'user_login' %}">登录</a></li>
				<p></p>
                <li><a href="{% url 'user_register' %}">用户注册</a></li>
				<p></p>
		{% endif %}
	    </ul>
		</div>
	</nav>
</div>