{% extends "base.html" %}
{% block title %}帮助信息{% endblock %}
{% block content %}
<body>
	<center><h3>帮助文档</h3>
    这是有关于该企业采购系统的使用帮助。
	<p>该系统实现的功能为：</p>
	<p><a href="http://127.0.0.1:8000/login/">登录</a>，<a href="http://127.0.0.1:8000/register/">注册</a></p>
	<p><a href="http://127.0.0.1:8000/invertory/">库存信息查询</a>，
	<a href="http://127.0.0.1:8000/invertoryAdd/">库存货物增加</a>,
	<a href="http://127.0.0.1:8000/quitFromInv/">退货(从库存中退货)</a></p>
	<p><a href="http://127.0.0.1:8000/supplier/">供应商信息查询</a>，
	<a href="http://127.0.0.1:8000/supplierAdd/">增加供应商</a>，
	<a href="http://127.0.0.1:8000/supplierDelete/">删除供应商</a></p>
	<p><a href="http://127.0.0.1:8000/purchase/">采购</a>，
	<a href="http://127.0.0.1:8000/check/">验货</a>，
	<a href="http://127.0.0.1:8000/pay/">付款</a>
	</p>
	<p><h2>注意：以上操作均要求登录状态完成</h2></p>
</body>
{% endblock %}