{% extends "base.html" %}
{% block title %}库存信息{% endblock %}
{% block content %}
<p>
<div>
	<h1>库存信息</h1>
	<a href="http://127.0.0.1:8000/invertoryAdd/"><h4>增加货物种类</h4></a>
	<a href="http://127.0.0.1:8000/purchase"><h4>采购</h4></a>
	<a href="http://127.0.0.1:8000/quitFromInv"><h4>从库存中退货</h4></a>
	<a href="http://127.0.0.1:8000/supplier/"><h2>供应商信息</h2></a>
	<div class="col-xs-20 col-md-16">
		<ul>
			{% for product in products %}
			<h3><li>库存单号： {{ product.invertory_id}}</h3>
			货物名称： {{product.invertory_productList}} </li>
			<p> </p>数量： {{product.invertory_amount}}
			<p> </p>
			{% endfor %}
		</ul>
	</div>
	<p></p>
	
</p>

</div>
{% endblock %}
