{% extends "base.html" %}
{% block title %}增加货物种类{% endblock %}
{% block content %}
<body>
<center><h3>增加货物种类</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="确认并返回主页">
    </form>
</body>
{% endblock %}