{% extends "base.html" %}
{% block title %}是否退货{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h2>是否退货</h2>
	<a href="http://127.0.0.1:8000/quit/"><h2>退货</h2></a>
	<a href="http://127.0.0.1:8000/pay/"><h2>继续支付</h2></a>
</div>
{% endblock %}