{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body>
    <div class="row text-center vertical-middle-sm">
	<p> <h3>请输入用户名和密码</h3></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="登录">
        <a href="http://127.0.0.1:8000/register/">注册</a>
    </form>

</body>
{% endblock %}