{% extends "base.html" %}
{% block title %}付款单填写{% endblock %}
{% block content %}
{% csrf_token %}
<body>
<center><h3>填写付款单</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="确认并返回主页">
    </form>
	<a href="http://127.0.0.1:8000/supplier/"><h2>暂不付款，返回主页面，之后付款</h2></a>
</body>
{% endblock %}