{% extends "base.html" %}
{% block title %}采购单填写{% endblock %}
{% block content %}
{% csrf_token %}
<body>
	<center><h3>填写采购单</h3>
    <center>
	<form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="下单">
		<a href="http://127.0.0.1:8000/supplier/"><h2>删除</h2></a>
    </form>
</body>
{% endblock %}