{% extends "base.html" %}
{% block title %}退货单填写{% endblock %}
{% block content %}
<body>
	<center><h3>退货单填写</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="确认并返回主页">
    </form>
	<a href="http://127.0.0.1:8000/supplier/"><h2>暂不退货，返回主页面，之后退货</h2></a>
</body>
{% endblock %}