{% extends "base.html" %}
{% block title %}从库存中退货{% endblock %}
{% block content %}
<body>
	<center><h3>退货单填写(从库存表中退货)</h3>
	<center><a href="http://127.0.0.1:8000/invertory/"><h3>返回库存列表</h3></a>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ error }}
        <input type="submit" value="确认并返回主页">
    </form>
	<a href="http://127.0.0.1:8000/supplier/"><h2>暂不退货，返回主页面</h2></a>
</body>
{% endblock %}