{% extends "base.html" %}
{% block title %}register user{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Register</h1>
    <p>If you are a user, <strong><a href="{% url 'user_login' %}">Login</a></strong>,please</p>
    <p>or register.</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <p></p>
		<div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">Username</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <p></p>
		<div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="col-md-5 control-label">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        
		<p></p>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}" class="col-md-5 control-label">Password</label>
            <div class="col-md-6 text-left">{{ form.password1 }}</div>
        </div>
		
        <p></p>
		<div class="form-group">
            <label for="{{ form.password2.id_for_label }}" class="col-md-5 control-label">Confirm Password</label>
            <div class="col-md-6 text-left">{{ form.password2 }}</div>
        </div>
        <p></p>
        <input type="submit" class="btn btn-primary btn-lg" value="REGISTER">
    </form>
</div>
{% endblock %}
