{% extends "base.html" %}
{% block title %}删除供货商{% endblock %}
{% block content %}
<body>
<center><h3>删除供货商</h3>
    <form action="" method="post">
        {% csrf_token %}
        待删除的供货商姓名：{{ form.as_p }}
        {{ error }}
        <input type="submit" value="确认并返回主页">
    </form>
</body>
{% endblock %}