{% extends "base.html" %}
{% block title %}supplier information{% endblock %}
{% block content %}

<div>
<p></p>
<div >
	<h1>供应商信息</h1>
		<a href="http://127.0.0.1:8000/supplierAdd/"><h4>增加供应商</h4></a>
		<a href="http://127.0.0.1:8000/supplierDelete/"><h4>删除供应商</h4></a>
		<a href="http://127.0.0.1:8000/invertory/"><h1>查看库存信息</h1></a>
		<a href="http://127.0.0.1:8000/purchase/"><h4>采购</h4></a>
		<a href="http://127.0.0.1:8000/check/"><h4>验货单填写</h4></a>
		<a href="http://127.0.0.1:8000/pay/"><h4>付款单填写</h4></a>
		<a href="http://127.0.0.1:8000/quit/"><h4>退款单填写(购买过程中退货)</h4></a>
	<div >
		<ul>
			{% for sup in sups %}
			<h3><li>供应商：{{ sup.sup_name}}</h3>
			<p> </p>产品： {{sup.sup_product}} </li>
			<p> </p>地址： {{sup.sup_address}}
			<p> </p>银行卡号： {{sup.sup_bank_number}}
			<p> </p>联系方式： {{sup.sup_phone}} 
			<p> </p>
			{% endfor %}
		</ul>
	</div>	
</div>

</div>
{% endblock %}
