{% extends "base.html" %}
{% block title %}验货单与采购单对比{% endblock %}
{% block content %}
{% csrf_token %}
<body>
	<center><h2>采购单</h2>
    <div >
		<ul>
			<h3><li>采购单单号：{{ po.po_id}}</h3>
			<p> </p>采购员： {{po.po_buyer}} </li>
			<p> </p>供应商： {{po.po_sup}}
			<p> </p>货物名称： {{po.po_product}}
			<p> </p>数量： {{po.po_amount}}
			<p> </p>总价： {{po.po_money}} </li>
			<p> </p>订单时间： {{po.po_buyTime}}
			<p> </p>备注： {{po.po_remark}} 			
			<p> </p>
		</ul>
	</div>
	<center><h2>验货单</h2>
	<div class="col-xs-20 col-md-16">
		<ul>
			<h3><li>验货单单号：{{ pp.pp_id}}</h3>
			<p> </p>采购员： {{po.po_buyer}} </li>
			<p> </p>供应商： {{pp.pp_sup}}
			<p> </p>货物名称： {{pp.pp_productList}}
			<p> </p>数量： {{pp.pp_amount}}
			<p> </p>总价： {{pp.pp_money}} </li>
			<p> </p>订单时间： {{pp.pp_report}}		
			<p> </p>
		</ul>
	</div>
	<a href="http://127.0.0.1:8000/pay/">确认信息，准备付款</a>
	<p> </p>
	<a href="http://127.0.0.1:8000/quitFromInv/">有情况，退货(从库存中退货)</a></p>
</body>
{% endblock %}